.organiser-card {
    margin-right: auto;
    margin-bottom: '1.5rem';
    box-shadow: rgba(120, 72, 244, 0.3) 0px 0px 6px 0px !important;
}

.organiser-card .truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btns, .dialog-btn {
    color: var(--primary) !important;
}

.btns:hover, .dialog-btn:hover {
    background-color: rgba(120, 72, 244, 0.08) !important;
}

.btns:focus, .dialog-btn:focus {
    outline: none;
    background-color: rgba(120, 72, 244, 0.2);
}