#myEvent {
    display: flex;
    flex-direction: column;
    width: 100%;

    .myEvent-heading {
        font-size: 1.5rem;
        font-family: Bold;
    }

    .events-list {
        display: grid;
        width: 100%;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-content: center;
    }
}